aside{
  display: block;
  float: left;
  background-color: #008db9;
  width: 300px;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 20px
}
article{
  display: block;
  float: left;
  background-color: #00546f;
  width: 600px;
  margin-top: 15px;
  margin-bottom: 20px
}
body{
  background-color: #b2cbd3;
}
.yel{
  color: yellow;
  margin: 0;
  padding: 2;
}
.grn{
  color: #6cb54b;
  margin: 0;
  padding: 2;
}
.gry{
  color: #a39992;
  margin: 0;
  padding: 2;
}
.whi{
  color: white;
  margin: 0;
  padding: 2;
}
.in{
  padding: 0 15px;
}
.box{
  padding: 5px;
  background-color: #b2cbd3;
  color: black;
}
.img{
  padding-left: 40px;
  padding-top: 10px
}
hr{
  color: white
}
span{
  font-size: 1.2em;
}
a{
  font-size: 1.2em;
  padding-left: 10px
}
.big{
  font-size: 1.8em
}
.more{
  font-size: 1.2em
}
.mid{
  text-align: center;
}
.mov{
  padding-left: 50px
}
.move{
  padding-left: 10px
}
ol{
  list-style-type: disc;
}
.lit{
  font-size: 0.8em
}
td{
  padding: 0 5px
}
.up{
  padding-top: 5px
}
.but{
  padding-bottom: 5px
}
.butt{
  padding-bottom: 15px
}
.pull{
  padding-left: 25px
}
.bac{
  padding-right: 25px
}
.ave{
  font-size: 1.4em
}
ul{
  list-style-type: none;
}
